<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/default_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/base_style.css') }}">
    {% block head %}{% endblock head %}
    <title>{{ title }}</title>
</head>

<body>
    <div class="body__wrapper">
        <header>
            <div class="header__wrapper limitations">
                <div class="logotype">
                    <a href="{{ url_for('main.main_page') }}" class="logotype__home_link">
                        <img src="{{ url_for('main.static', filename='images/header/Logotype.svg') }}" alt="Logotype"
                            class="logotype__img">
                    </a>
                </div>

                <div class="header__search___login__btn__wrapper">
                    <form action="" class="header__search_form">
                        <input class="header__search_input" type="text" placeholder="Что хотите поесть? ( •̀ ω •́ )y">
                        <button class="header__search_btn" type="submit">
                            <img class="header__search_btn__img"
                                src="{{ url_for('main.static', filename='images/header/search.png') }}" alt="Поиск">
                        </button>
                    </form>
                    <a href="{{ url_for('main.login_user') }}" class="login__btn">Войти</a>
                </div>

            </div>
        </header>
        <main>

            <!-- ---------------------------------------------------------- -->
            {% for class, message in get_flashed_messages(True) %}
            <div class="message_window">
                <div class="message_window__wrapper">
                    <p class="message_in_window {{ class }}">{{ message }}</p>
                </div>
            </div>
            {% endfor %}
            <!-- ---------------------------------------------------------- -->

            {% block main %}{% endblock main %}
        </main>
        <footer>
            <div class="footer__wrapper"></div>
        </footer>
    </div>
</body>

</html>