{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/content__list__style.css') }}">
{% endblock head %}


{% block main %}
<div class="kitchens__slider limitations">
    <!-- ----------------------------------------- -->
    <div class="content_list">

        <!-- --------------------------------- -->
        <a href="eat.html" class="content_list_item">
            <img src="{{ url_for('main.static', filename='images/1.jpg') }}" alt="" class="list_item_img">
            <p class="list_item_title_cafe">Кафе 1</p>
            <p class="list_item_title__price">Тако 14 000 сум</p>
        </a>
        <!-- --------------------------------- -->
    </div>
    <!-- ----------------------------------------- -->
</div>
{% endblock main %}