{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/main_page_style.css') }}">
{% endblock head %}

{% block main %}

<!-- ---------------------------------------------------------- -->
{% for field_name in form.errors %}
{% for error in form.errors[field_name] %}
<div class="message_window">
    <div class="message_window__wrapper">
        <p class="message_in_window invalide_message">{{ error }}</p>
    </div>
</div>
{% endfor %}
{% endfor %}
<!-- ---------------------------------------------------------- -->


<section class="login__form__section">
    <form action="{{ url_for('main.login_user') }}" method="post" class="login__form">

        {{ form.hidden_tag() }}
        <!-- ---------------------------------------------------------- -->
        {{ form.name(class="form__input form__input__name") }}
        {{ form.password(class="form__input form__input__password") }}
        {{ form.submit(class="form__input form__btn form__btn__submit") }}

    </form>
</section>

{% endblock main %}